<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Crunchy{% endblock %}</title>
      {% load staticfiles %}
      {% include 'material/includes/material_css.html' %}
      <script src="{% static 'material/js/jquery.js' %}"></script>
      {% include 'material/includes/material_js.html' %}
      {% load material_form %}
<body>

{% include 'crunchy/navigation_bar.html' %}

    {% block content %}
    {% include 'crunchy/navigation_bar.html' %}
    {% endblock %}

</body>
</html>