<style>
    .navbar {
        position: relative;
        margin-bottom: 0px !important;
    }

    #extra p:hover, #extra p:focus{
	text-decoration: none;
	color:white;
    }
    footer {
        padding-top: 30px;
        flex: 0 0 auto;
    -webkit-flex: 0 0 auto;
    }
</style>

<footer>
    <div class= "navbar navbar-inverse navbar-static-bottom" role="navigation">
    <div class= "navbar-text pull-right">
        <div class="row">
            <div class="col-sm-4"></div> <!-- Cheating :) -->
            <div id="extra" class="col-sm-4">
                <p>
                    <span class="glyphicon glyphicon-globe"></span>
                    San José State University
                    One Washington     Square,
                    San José, CA 95192-0080
                </p>

                <p>
                    <span class="glyphicon glyphicon-earphone"></span>
                    +1 (669)-123 4567
                </p>

                <p>
                    <span class="glyphicon glyphicon-envelope"></span>
                    support@teamcoders.com
                </p>

            </div>
            <div class="col-sm-4">
            <b> About Us</b>
                <p>We are a team of Software Engineering Students taking CMPE 165 in Fall 2017.</p>
                <p>&copy; Team Coders, 2017</p>
            </div>
        </div>
    </div>
</div>
</footer>