<!-- Dropdown not used-->

     <ul id="dropdown1" class="dropdown-content">
         <li><a href="{% url 'viewer:reservations' %}">Reservations</a></li>
         <li><a href="#">Settings </a></li>
         <li class="divider"></li>

     </ul>

        <nav class="nav-wrapper">
            <a href="{% url 'index' %}" class="brand-logo" > Hotel Reservation</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li><a href="#">Destinations</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                {% else %}
              <li>
                  <a href="{% url 'accounts:login' %}" >Log In</a>
              </li>

              <li>
                  <a href="{% url 'accounts:register' %}" >Sign Up</a>
              </li>
          {% endif %}
            </ul>
        </ul>
</nav>

