ul.ratings {
    padding: 0;
    margin: 0;
}

ul.ratings li {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    color: white;
    text-shadow: 2px 2px 7px grey;
    font-size: 25px; !important;
}

ul.ratings li:hover {
    color: yellow;
}

ul.ratings li.active, ul.ratings li.activeHover {
    color: yellow;
}

ul.ratings li input[type="radio"] {
    display: none;
}

/*Static ratings related, this differs from the the dynamic rating
as they have hover effects, these remain as they are upon initialization */
ul.static_ratings li.active {
    color: yellow;
}

ul.static_ratings li input[type="radio"] {
    display: none;
}

ul.static_ratings {
    padding: 0;
    margin: 0;
}

ul.static_ratings li {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    color: white;
    text-shadow: 2px 2px 7px grey;
    font-size: 25px; !important;
}

.thumbnail:hover {
  background: #f7f7f7;
}


.search-bar{
    background-color:#37454d;

}
.search-text{
    position: relative;
    width: 50%;
    left: 25%;
    top: 20px;
}

/* For the thumbnail image display */

.main-container {
    /*background-color: #5b80b2;*/
}

.main-display {
    text-align: center;
    padding-bottom: 10px;
}

.main-display img {
    width: 100%;
    height: 450px;
}

.bottom-nav-display img {
    width: 80px;
    height: 80px;
}

.card {
    position: relative;
    display: inline-block;
    height:300px;
    width:300px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card:hover::after {
    opacity: 3;
}

.btn--primary{
    background-color: #007fad;
}

li {
    padding: 0px 12px;
}