{% extends 'crunchy/base.html' %}
{% block title %}Login{% endblock %}

<div class="container">
{% load static %}
    {% block content %}
    <script src = "{% static 'accounts/home.js' %}"></script>

    <div class="row container">

        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Log In</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="{% url 'accounts:login'%}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-field">
                            <input id="id_username" maxlength="30" name="username" type="text">
                            <!-- <input id="id_username" type="text" class="validate"> -->
                            <label class="active" for="id_username">
                                Username
                            </label>
                        </div>
                        <div class="input-field">
                            <input id="id_password" maxlength="30" name="password" type="password">
                            <label class="active" for="id_password">
                                Password
                            </label>
                        </div>
                        <div class="input-field">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Don't have an account? <a href="{% url 'accounts:register' %}">Click here</a> to register.
                </div>
            </div>
        </div>
    </div>

{% endblock %}
</div>

