{% extends 'crunchy/base.html' %}
{% block title %}Registration{% endblock %}

{% block content %}

{% load static %}
<link rel = "stylesheet" type = "text/css" href = "{% static 'accounts/login.css' %}" />

    <div class="container-fluid">
        <div class="wrapper">
             <div class="form-login">
                 <h2 class="form-login-heading">Register for an Account</h2>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <form class="form-horizontal" role="form" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'accounts/form_template.html' %}
                        <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-success btn-block">Submit</button>
                        </div>
                    </form>
                     <div class="panel-footer">
                         Already have an account? <a href="{% url 'accounts:login' %}">Click here</a> to log in.
                     </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}