{% extends 'crunchy/base.html' %}
{% block title %}Profile{% endblock %}

{% block content %}
    <div class="text-center">
    <figure class="snip1">
    <h2>Reward Points Available: {{ reward_points }}</h2>
    </figure>
    </div>


<style type="text/css">
    .snip1 h5 {
  font-family: 'Oswald';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}
    </style>


    <figure class="snip1493">
  <div class="image"><img src="http://www3.hilton.com/resources/media/hi/en_US/locations/orlando/ORLOCHH.jpg" alt="Girl in a jacket" style="height:200px;"></div>
  <figcaption>

    <div class="date"><span class="day">2000</span><span class="month">Points</span></div>
    <h3>Hilton Hotel</h3>
    <p>

      535 South Grand Avenue
      Los Angeles, California 90071
      USA
    </p>
    <footer>
      <div class="love"><i class="ion-heart"></i>623</div>
      <div class="comments"><i class="ion-chatboxes"></i>23</div>
    </footer>
  </figcaption>
  <a href="#"></a>
</figure>

    <figure class="snip1493">
  <div class="image"><img src="https://media-cdn.tripadvisor.com/media/photo-s/05/74/56/4d/mgm-grand-hotel-and-casino.jpg" alt="ls-sample1" style="height:200px;" /></div>
  <figcaption>
    <div class="date"><span class="day">2500</span><span class="month">Points</span></div>
    <h3>MGM Grand Hotel</h3>
    <p>

      3799 Las Vegas Boulevard South, Las Vegas, NV 89109-4319

    </p>
    <footer>
      <div class="love"><i class="ion-heart"></i>623</div>
      <div class="comments"><i class="ion-chatboxes"></i>23</div>
    </footer>
  </figcaption>
  <a href="#"></a>
</figure>

    <figure class="snip1493">
  <div class="image"><img src="https://media-cdn.tripadvisor.com/media/photo-o/0e/c1/16/b6/lap-pool.jpg" alt="Girl in a jacket" style="height:200px;"></div>
  <figcaption>
    <div class="date"><span class="day">3000</span><span class="month">Points</span></div>
    <h3>Renaissance ClubSport</h3>
    <p>
        50 Enterprise, Aliso Viejo, CA 92656-6026

    </p>
    <footer>
      <div class="love"><i class="ion-heart"></i>623</div>
      <div class="comments"><i class="ion-chatboxes"></i>23</div>
    </footer>
  </figcaption>
  <a href="#"></a>
</figure>

    <figure class="snip1493">
  <div class="image"><img src="https://ihg.scene7.com/is/image/ihg/intercontinental-san-francisco-4474470484-2x1?fit=fit,1&wid=2400&hei=1200" alt="Girl in a jacket" style="height:200px;"></div>
  <figcaption>
    <div class="date"><span class="day">3500</span><span class="month">Points</span></div>
    <h3>InterContinental Mark Hopkins</h3>
    <p>
        1 Nob Hill, 999 California Street, San Francisco, CA 94108-2228

    </p>
    <footer>
      <div class="love"><i class="ion-heart"></i>623</div>
      <div class="comments"><i class="ion-chatboxes"></i>23</div>
    </footer>
  </figcaption>
  <a href="#"></a>
</figure>

    <figure class="snip1493">
  <div class="image"><img src="https://az760333.vo.msecnd.net/-/media/property/squaw-creek/566x566-overview-menu/resort-at-squaw-creek_exterior_pavilion-crpd720x515.jpg?ts=b077157d-f7d7-4772-bd34-c4b20e9c0401" alt="Girl in a jacket" style="height:200px;"></div>
  <figcaption>
    <div class="date"><span class="day">4000</span><span class="month">Points</span></div>
    <h3>Resort at Squaw Creek</h3>
    <p>
        400 Squaw Creek Road, Olympic Valley, CA 96146-9778

    </p>
    <footer>
      <div class="love"><i class="ion-heart"></i>623</div>
      <div class="comments"><i class="ion-chatboxes"></i>23</div>
    </footer>
  </figcaption>
  <a href="#"></a>
</figure>

    <figure class="snip1493">
  <div class="image"><img src="https://exp.cdn-hotels.com/hotels/1000000/700000/692700/692655/692655_109_z.jpg" alt="Girl in a jacket" style="height:200px;"></div>
  <figcaption>
    <div class="date"><span class="day">4500</span><span class="month">Points</span></div>
    <h3>Disney's Grand Californian Hotel & Spa</h3>
    <p>
        1600 S Disneyland Dr, Anaheim, CA 92802-2317
    </p>
    <footer>
      <div class="love"><i class="ion-heart"></i>623</div>
      <div class="comments"><i class="ion-chatboxes"></i>23</div>
    </footer>
  </figcaption>
  <a href="#"></a>
</figure>


     <style type="text/css">
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1493 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1493 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1493:after {
  position: absolute;
  top: 12px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 0 25px 25px;
  border-color: transparent transparent transparent #d2652d;
  content: '';
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.snip1493 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}

.snip1493 figcaption {
  padding: 20px 20px 30px;
  background-color: #ffffff;
}

.snip1493 .date {
  background-color: #d2652d;
  top: 15px;
  color: #fff;
  right: 15px;
  min-height: 48px;
  min-width: 48px;
  position: absolute;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 50%;
  padding: 10px 0;
}

.snip1493 .date span {
  display: block;
  line-height: 14px;
}

.snip1493 .date .month {
  font-size: 11px;
}

.snip1493 h3,
.snip1493 p {
  margin: 0;
  padding: 0;
}

.snip1493 h3 {
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 700;
}

.snip1493 p {
  font-size: 0.8em;
  margin-bottom: 20px;
  line-height: 1.6em;
}

.snip1493 footer {
  padding: 0 25px;
  color: #999999;
  font-size: 0.8em;
  line-height: 50px;
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.snip1493 footer > div {
  display: inline-block;
  margin-right: 15px;
}

.snip1493 footer i {
  margin-right: 5px;
  font-size: 1.2em;
}

.snip1493 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

.snip1493:hover:after,
.snip1493.hover:after {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
}


/* Demo purposes only */

body {
}
    </style>
{% endblock %}