{% extends 'crunchy/base.html' %}
{% block title %}Hotel App {% endblock %}

{% block content %}

    <div class="text-center">
        <ul class="nav nav-pills nav-stacked ">
            <li class="active"><a href="#">View Upcoming/Previous Reservations Here</a></li>
            <li><a href="{% url 'viewer:previous' %}">Previous Reservations</a></li>
            <li><a href="{% url 'viewer:upcoming' %}">Upcoming Reservations</a></li>

            <div class="content container">
                <div class="row">

                    <style>
                        div.relative {
                            position: center;

                            border: 3px solid #769db7;
                        }
                    </style>
                    <div class="relative">
                        <b>
                            Reservation 1 </br>
                            Username: nithyar </br>
                            Hotel Name: Hotel 1 </br>
                            Start Date: 11/01/2017 - End Date: 11/05/2017 </br>

                            </br>
                        </b>
                    </div>
                </div>
            </div>

            <div class="content container">
                <div class="row">
                    <style>
                        div.relative {
                            position: center;

                            border: 3px solid #769db7;
                        }
                    </style>
                    <div class="relative">
                        <b>
                            Reservation 2 </br>
                            Username: nithyar </br>
                            Hotel Name: Hotel 2 </br>
                            Start Date: 11/10/2017 - End Date: 11/15/2017 </br>

                            </br>
                        </b>
                    </div>
                </div>
            </div>


        </ul>
    </div>


{% endblock %}