{% extends 'crunchy/base.html' %}
{% block title %}Hotel App {% endblock %}

{% block content %}
    <style>
        div.relative {
            position: center;

            right: 10px;

            border: 3px solid #000000;
        }

        div.relative {
            position: center;

            border: 3px solid #000000;
        }

        div button
        {
            margin: auto;

            margin-top: -7em;

            margin-right: 1em;
            margin-left: 1em;

        }

        .wrapper {
            padding: 10px 20px 10px 30px;
        }

        #button-padding {
            padding-top: 69px;
        }

        .row:after {
            content: "";
            display: table;
            clear: both;
        }

    </style>





        <div class="text-center">

            {% for booking in bookings %}
                <div class="content container" style="padding-top: 40px;">
                 <div class="relative">
                    <div class="row">

                            <div class="col-sm-4 wrapper">
                                
                                    <a href="#" class="thumbnail">
                                        <img class="media-object" src="{{ booking.hotel.images_as_list.0 }}" alt="currentImg" align="center" width="250" height="200">
                                    </a>
                          
                            </div>
                            <div class="col-sm-6">
                                <div class="wrapper">
                                     
                                      <div class="description">
                                         <h1>Reservation {{ booking.id }}</h1>
                                         <h2>Hotel Name: {{ booking.hotel.name }}</h2>
                                         <p class="summary">Start Date: {{ booking.check_in_date }} - End Date: {{ booking.check_out_date }}</p>

                                    </div>

                                </div>

                                <div id="button-padding">
                                    <a href="/bookings/{{ booking.id }}"><button type="button" class="btn btn-success" value="More Details">More Details</button></a>
                                <a href="delete/{{ booking.id }}"><button type="button" class="btn btn-danger" value="Cancel Reservation">Cancel Reservation</button></a>
                                </div>

                            </div>

                            </tr>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </ul>

        </div>


{% endblock %}