{% extends 'crunchy/base.html' %}
{% block title %}Hotel App {% endblock %}



{% block content %}
{% load static %}
    <link rel = "stylesheet" type = "text/css" href = "{% static 'crunchy_home/style.css' %}" />
    <script src = "{% static 'crunchy_home/home.js' %}"></script>
    <body>
        <div class = "jumbotron text-center">
            <h1>This is the hotel app for CMPE 165</h1>
            <p> test test test</p>
            <form class="form-inline">
                <div class="input-group">
                    <input type="search" class="form-control" size="50" placeholder="Find Hotel" required>
                <div class="input-group-btn">
                    <a class="btn btn-primary" href="{% url 'hotels:search' %}">Search</a>
                </div>
            </div>
        </form>
        </div>

        <!-- Explore destination section -->
        <div class = "bg-1 container-fluid text-center">
            <h1 class="display-2">Explore destinations</h1>
            <br>
            <div class = "row slideanim">
                <div class = "col-sm-4 ">
                    <div class ="parent">
                        <img src = "{% static "crunchy_home/images/sf.jpg" %}" class = "img-responsive" alt="San Francisco">
                        <div class ="popup">
                            <h2> SAN FRANCISCO </h2>
                        </div>
                    </div>

                </div>
                <div class = "col-sm-4 ">
                    <div class = "parent">
                        <img src = "{% static "crunchy_home/images/la.jpg" %}" class="img-responsive" alt="Los Angeles">
                        <div class = "popup">
                            <h2> LOS ANGELES </h2>
                        </div>
                    </div>

                </div>
                <div class = "col-sm-4 ">
                    <div class = "parent">
                        <img src = "{% static "crunchy_home/images/sandiego.jpg" %}" class="img-responsive" alt="San Diego">
                        <div class = "popup">
                            <h2> SAN DIEGO </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "bg-2 container-fluid text-center">
            <div class="row">
                <h1 class="display-2">Join for more rewards</h1>
                <br>
                <div class="col-sm-4 slideanim"><span id= "logo" class="glyphicon glyphicon-plane"></span></div>
                <div class="col-sm-8">
                    <br>
                    <br>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus odio velit, pellentesque in nulla in, aliquet rutrum augue. In non ornare ligula.
                Nunc neque ex, iaculis id metus non, ultricies luctus sapien. Integer finibus dolor magna, sit amet condimentum nisi malesuada vel.
                Suspendisse dapibus condimentum nibh et ultricies. Donec a eleifend diam, quis maximus nisi. Sed nec nibh eu purus aliquet ullamcorper
                at non neque. Integer sagittis vel enim eget tempus.
            </p>
                </div>
        </div>
        </div>

    </body>


{% endblock %}
