{% extends 'crunchy/base.html' %}
{% block title %}Hotel App {% endblock %}



{% block content %}
{% load static %}
   <link rel = "stylesheet" type = "text/css" href = "{% static 'crunchy_home/style.css' %}" />
    <script src = "{% static 'crunchy_home/home.js' %}"></script>
    <body>
        <div class = "jumbotron text-center" style="color:white; font-family: 'Barlow Semi Condensed', sans-serif; ">
            <h1>Find your ideal hotel for the best price</h1>
            <form class="form-inline">
                <div class="input-group">
                    <input type="search" class="form-control" size="50" placeholder="e.g. San Francisco" required>
                <div class="input-group-btn">
                    <a class="btn btn-primary" href="{% url 'hotels:search' %}">Search</a>
                </div>
            </div>
        </form>
        </div>

        <!-- Explore destination section -->
        <div class = "bg-1 container-fluid text-center">
            <h1 class="display-2">Popular destinations</h1>
            <br>
            <div class = "row slideanim">
                <div class = "col-sm-4 ">
                    <div class ="parent">
                        <img src = "{% static "crunchy_home/images/sf.jpg" %}" class = "img-responsive" alt="San Francisco">
                        <div class ="popup">
                            <h2> SAN FRANCISCO </h2>
                        </div>
                    </div>

                </div>
                <div class = "col-sm-4 ">
                    <div class = "parent">
                        <img src = "{% static "crunchy_home/images/la.jpg" %}" class="img-responsive" alt="Los Angeles">
                        <div class = "popup">
                            <h2> LOS ANGELES </h2>
                        </div>
                    </div>

                </div>
                <div class = "col-sm-4 ">
                    <div class = "parent">
                        <img src = "{% static "crunchy_home/images/sandiego.jpg" %}" class="img-responsive" alt="San Diego">
                        <div class = "popup">
                            <h2> SAN DIEGO </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "bg-2 container-fluid text-center">
            <div class="row">
                <h1 class="display-2">Join for more rewards!</h1>
                <br>
                <div class="col-sm-4 slideanim"><span id= "logo" class="glyphicon glyphicon-plane"></span></div>
                <div class="col-sm-8">
                    <br>
                    <br>
            <p class="lead">
                The Rewards program caters to leisure and business travelers who visit popular destinations in the United States, Europe, the Caribbean and Asia. As a Rewards member, you'll earn points when you stay in any of Crunchy's booked hotels of more than 8,000 properties across several distinctive brands, including Days Inn, Dolce Hotels and Resorts, Ramada Worldwide and Wyndham Grand Hotels.
            </p>
                </div>
        </div>
        </div>

    </body>


{% endblock %}
