{% extends 'crunchy/base.html' %}
{% block title %}Hotels{% endblock %}

{% block content %}

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'hotels/styles.css' %}">
    <script type="text/javascript" src="{% static 'hotels/styles.js' %}"></script>

    {% if messages %}

        <ul class="messages">
            {% for message in messages %}
                <div class = "text-center">

                <div class="alert alert-danger text-center">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
                </div>


            {% endfor %}
        </ul>


        <style type="text/css">
        .alert {
            font-size: 20px;
            padding-bottom: 10px;
            width:40%;
            margin-left: 30%;
            left: 33%;

        }
        </style>
    {% endif %}

    <div class="container">
    <div class="row" style="padding-top: 50px;">
        <div class="col-md-1">
        </div>
        <!-- Begin first column. -->
        <div class="col-md-6">
            <div class="main-container">
                <div class="main-display">
{#                    <a href="#" class="thumbnail">#}
                        <img id="currentImg" src="{{ hotel.images_as_list.0 }}" />
{#                    </a>#}
               </div>
               <div class="bottom-nav-display">
                   {% for image in hotel.images_as_list %}
                        <img src="{{ image }}" onclick="showImage('{{ image }}');" />
                    {% endfor %}
               </div>
            </div>

            <hr>

            <h1>{{ hotel.name }}</h1>
            <h2>City : {{ hotel.city }}</h2>


      
            <p>Welcome to Americas Best Value Inn Adelanto Victorville located on State Highway 395. Our newly renovated hotel offers world class amenities such as 24-hour concierge desk, multilingual staff, and free wireless high-speed Internet access available in all guest rooms as well as all common areas throughout the hotel, also guests will have full access to copy and fax service. Children 11 years of age and under stay free in parent's room with existing bedding. For your convenience we offer an on-site guest laundry facility. Start your day with our free continental breakfast. We offer 21 guest rooms and accessible rooms that feature all of the comforts of home including a microwave, mini-fridge, coffeemaker, 32 inch flat screen satellite TV with HBO and ESPN, clock radio, iron, ironing board, desk with lamp and complimentary local call access.</p>

            <hr>

            <h3>99 Reviews</h3><hr>

            <!-- Begin first comment. -->
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object"
                             src="http://s3.amazonaws.com/cdn.roosterteeth.com/default/md/user_profile_male.jpg"
                             alt=""
                             style="width:50px;height:50px;">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Chris Tanner</h4>
                    <p>Clean and pleasant. Stayed on a Monday and Tuesday.  Walls aren't concrete so you hear a lot of noise when you have noisy neighbors. Aside from that, I'd recommend this hotel.</p>
                </div>
            </div><!-- end first comment. -->

            <hr>

            <!-- Begin second comment. -->
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object"
                             src="http://s3.amazonaws.com/cdn.roosterteeth.com/default/md/user_profile_male.jpg"
                             alt=""
                             style="width:50px;height:50px;">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Hailey Simpson</h4>
                    <p>Best bang for your buck! We rented a two queen bedroom with sofa. We used our AAA discount and got the room for $86 plus tax. I think this was a steal! My husband was wary of the price but when he saw the room, he knew we got a good deal. We reserved our room directly on their website to make sure we don't run into problems as others have based on reviews.</p>
                </div>
            </div><!-- end second comment. -->

            <hr>

        </div><!-- End first column. -->

        <!-- Begin second column. -->
        <div class="col-md-4">
            <iframe
              width="100%"
              height="250"
              frameborder="0" style="border:0"
              src="{{ p_id }}" allowfullscreen>
            </iframe>

            <br>
            <br>
            <br>

            <div class="panel panel-default">
                <div class="panel-body">
                    <form role="form" action="{% url 'bookings:create' hotel.id %}" method="POST">
                        {% csrf_token %}
                        <h3>${{ hotel.price }}<small> per night</small></h3>
                        <ul class="static_ratings">

                            {% for i in range %}
                                {% if i <= hotel_rating %}
                                    <li class="active" id="rat_{{ i }}"><label for="rating_{{ i }}" class="glyphicon glyphicon-star" aria-hidden="true"></label>
                                        <input type="radio" name="rating" id="rating_{{ i }}" value="{{ i }}"/>
                                    </li>
                                {% else %}
                                    <li id="rat_{{ i }}"><label for="rating_{{ i }}" class="glyphicon glyphicon-star" aria-hidden="true"></label>
                                        <input type="radio" name="rating" id="rating_{{ i }}" value="{{ i }}"/>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>


                        <hr>
                        {{ form.as_p }}
                        <br>

                        <div class="payment">


                      <legend>Payment</legend>
                      <div class="form-group">

                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" width="100%" placeholder="Card Holder's Name">
                        </div><br></br>
                      </div>
                      <div class="form-group">

                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="card-number" id="card-number" width="100%" placeholder="Debit/Credit Card Number">
                        </div><br></br>
                      </div>
                      <div class="form-group">

                        <div class="col-sm-9">
                          <div class="row">
                            <div class="col-xs-3">
                              <select class="form-control col-sm-2" name="expiry-month" id="expiry-month" style="width: 100px;">
                                <option>Month</option>
                                <option value="01">Jan (01)</option>
                                <option value="02">Feb (02)</option>
                                <option value="03">Mar (03)</option>
                                <option value="04">Apr (04)</option>
                                <option value="05">May (05)</option>
                                <option value="06">June (06)</option>
                                <option value="07">July (07)</option>
                                <option value="08">Aug (08)</option>
                                <option value="09">Sep (09)</option>
                                <option value="10">Oct (10)</option>
                                <option value="11">Nov (11)</option>
                                <option value="12">Dec (12)</option>
                              </select>
                            </div>
                            <div class="col-xs-3">
                              <select class="form-control col-sm-2" name="expiry-year"  style="width: 100px; margin-left: 50px;">
                                <option value="13">2013</option>
                                <option value="14">2014</option>
                                <option value="15">2015</option>
                                <option value="16">2016</option>
                                <option value="17">2017</option>
                                <option value="18">2018</option>
                                <option value="19">2019</option>
                                <option value="20">2020</option>
                                <option value="21">2021</option>
                                <option value="22">2022</option>
                                <option value="23">2023</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div><br></br>
                      <div class="form-group">
                        <div class="col-sm-3">
                          <input type="text" class="form-control" name="cvv" id="cvv" placeholder="CVV" style="width: 90px; margin-top:10px;">
                        </div><br></br>
                      </div>


                        </div>
                        <button type="submit" class="center-block btn btn-danger" style="width:100%;height:50px;font-size:20px;">Request to Book</button>
{% comment %}                    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}{% endcomment %}
                    </form>
                </div>
            </div>

{#            {% load staticfiles %}#}
{#            <link rel="stylesheet" href="{% static 'hotels/styles.css' %}">#}
        </div><!-- End second column. -->

    </div>
    </div>
{% endblock %}