{% extends 'crunchy/base.html' %}
{% block title %}Hotels{% endblock %}

{% block content %}
 <div class = "container-fluid">

<div class="container">
  <div class="row justify-content-md-center">
    <div class = "container-fluid">
     <form class="form-inline">
      <div class="input-group">
        <input type="search" class="form-control" align= "center" size="100" placeholder="Find Hotel" required>
        <div class="input-group-btn">
          <button type="button" class="btn btn-danger">Search</button>
        </div>
      </div>
    </form></br></br>

  </div>
</div>
</div>

<div class="row">
    <!-- Begin first column. -->
    <div class="col-md-2">
        <div class="container">
            <h2>Filters</h2>
            {% include 'hotels/search_form.html' %}
        </div>
    </div><!-- End first column. -->



  <div class="col-md-10">
    {% for hotel in hotels %}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <div class="media-left media-middle">
                        {% for image in hotel.images_as_list %}
                            <a href="#">
                                <img class="media-object" src="{{ image }}" alt="hotel image" width="200" height="200">
                            </a>
                        {% endfor %}
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">{{ hotel.name }}</h3>
                        <p>{{ hotel.address }}</p>
                        <h4 class="pull-right">${{ hotel.price }}</h4>

                        <form class="form-horizontal" role="form" action="{% url 'hotels:detail' hotel.id %}" method="GET" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-success">More Details</button>
                                </div>
                            </div>
                        </form>
                </div>
             </div>
          </div>
    </div>
    {% endfor %}
    <nav aria-label="Page navigation example">
      <ul class="pagination" align="center">
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#">Next</a>
        </li>
      </ul>
    </nav>

  </div>

    </div>

{% endblock %}
