.jumbotron {
    background: white url("images/ggb.jpg") no-repeat;
    min-width: 100%;
    min-height: 100vh;
    margin: auto;
    background-size: cover;
    padding: 200px;
}

.big-logo{
    font-family: 'Chewy', cursive;
    font-size: 70px;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
}

.bg-1 {
    padding: 60px;
}

.parent {
  position: relative;
}

.popup {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  background: black;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: .5s ease;
  text-align: center;
  padding-top:40%;
}

.parent:hover .popup {
  visibility: visible;
  opacity: 1;
  height: 100%;
}

.bg-2 {
    padding: 60px;
}

#logo {
    font-size: 200px;
}

/*Slide*/

.slideanim {
    visibility:hidden;
}

.slide {
    /* The name of the animation */
    animation-name: slide;
    -webkit-animation-name: slide;
    /* The duration of the animation */
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    /* Make the element visible */
    visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
