.jumbotron {
    background: white url("images/ggb.jpg") no-repeat;
    min-width: 100%;
    min-height: 100vh;
    margin: auto;
    background-size: cover;
    padding: 200px;
}

.bg-1 {
    padding: 60px;
}

.parent {
  position: relative;
}

.popup {
  position: absolute;
  overflow: hidden;
  background: blue;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: .5s ease;
  vertical-align: middle;
}

.parent:hover .popup {
  visibility: visible;
  opacity: 1;

}

.bg-2 {
    color: dodgerblue;
    padding: 60px;
}

.test {
    background-color: #5b80b2;
    padding: 25px;
    opacity: 0.5;
}
